<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.eschool.model.dao.UserDAO">
    <select id="getUserByUAndP" resultType="com.oracle.eschool.model.bean.User" >
        SELECT  * FROM user WHERE username=#{0} AND password=#{1}
    </select>

    <insert id="registerUser" parameterType="com.oracle.eschool.model.bean.User" keyColumn="userid" useGeneratedKeys="true">
        insert into user(username,password,sex,age) values (#{username},#{password},#{sex},#{age})
    </insert>
</mapper>
